th {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

thead th {
  text-align: left;
  color: red;
}

table {
  border: 1px solid green;
  border-collapse: collapse;
  padding: 10px;
  border-radius: 10px;
  color: blue;
  /* text-align: left; */
}
